/*dataTable Exports*/

a.dtExport{
    padding-left: 30px  !important;
}

a.exportCopy  {background: url("img/copy.png")         5px center / 20px auto no-repeat scroll;}
a.exportCsv   {background: url("img/export_csv.png")   5px center / 20px auto no-repeat scroll;}
a.exportExcel {background: url("img/export_excel.png") 5px center / 20px auto no-repeat scroll;}
a.exportPdf   {background: url("img/export_pdf.png")   5px center / 20px auto no-repeat scroll;}
a.exportPrint {background: url("img/printer.png")      5px center / 20px auto no-repeat scroll;}
